.container {
    padding: 3rem;
}

.container button {
   border: 1px solid rebeccapurple;
   padding: 7px;
   margin: 5px;
   cursor: pointer;
}

.container button:hover {
    border: 1px solid rgb(55, 10, 100);
    background-color: rgb(106, 75, 138);
    color: white;
 }