<div class="container">
  <h1>Este es mi primer proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    <li *ngFor="let task of tasks()">
      {{ task }}
    </li>
  </ul>

  <hr />
  <h2>{{ "Hola".repeat(4) }}</h2>
  <p>la suma de + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y mi edad es {{ age }}</p>

  <hr />
  <img [src]="img" alt="castor" width="400" />
  <input type="text" [value]="name()" />
  <button [disabled]="disabled">Click me</button>

  <hr />
  <p>person: {{ person.name }}</p>
  <p>age: {{ person().age }}</p>
  <img [src]="person().avatar" [alt]="person.name" />

  <hr />
  <button (click)="clickHandler()">click me</button>
  <button (dblclick)="clickHandler()">double me</button>
  <p>(change)</p>
  <input
    type="number"
    [value]="person().age"
    (change)="changeHandler($event)"
  />
  <hr />
  <p>(change)</p>
  <input type="text" [value]="person().name" (change)="changeHandler($event)" />
  <hr />
  <p>(keydown)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown)="keydownHandler($event)"
  />
  <hr />
  <p>(keydown + atajo teclado)</p>
  <input
    type="text"
    [value]="person().name"
    (keydown.shift.t)="clickHandler()"
  />
  <hr />
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)" />
  <p>name:{{ name() }}</p>
  <p>name:{{ name() }}</p>

  <hr />
  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>

  <hr />
  <input type="number" [value]="person().age" (change)="changeAge($event)" />
  <div *ngIf="1 === 1">My content</div>
  <div *ngIf="name() === 'Matias'">Soy Matias</div>

  <!-- nueva sintaxis de if -->
  @if (name() === 'Matias'){
  <div>Soy Matias, renderizado con la nueva sintaxis</div>
  }

  <h2>Renderizado condicional</h2>
  <div *ngIf="person().name === 'Nehuen' && person().age > 18; else elseBlock">
    Soy Matias y Soy mayor de 18
  </div>
  <ng-template #elseBlock> Soy Nehuen y soy menor de 18 </ng-template>
  <!-- nueva sintaxis de if, else -->

  <h2>if, else - nueva sintaxis</h2>
  @if(person().name === 'Nehuen' && person().age > 18){
  <strong>Soy Matias, y soy mayor de 18 años</strong>
  } @else {
  <i>Soy Matias, y soy menor de edad</i>
  }

  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)" />
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'matias'">yo soy Matias</p>
    <p *ngSwitchCase="'nehuen'">yo soy Nehuen</p>
    <p *ngSwitchCase="'andres'">yo soy Andres</p>
    <p *ngSwitchCase="'torres'">yo soy Torres</p>
    <p *ngSwitchDefault>NO SOY NADIE</p>
  </div>
  <hr />
  <input type="color" [formControl]="colorControl" />
  <p>color: {{ colorControl.value }}</p>
  <svg>
    <rect
      x="0"
      y="0"
      width="100"
      height="100"
      [attr.fill]="colorControl.value"
    />
  </svg>
  <hr />
  <input type="number" [formControl]="widthControl" />
  <span class="box" [style.width.px]="widthControl.value"></span>
  <hr />
  <p>
    <input type="text" [formControl]="nameControl" /> <br />
    <span
      class="message-error"
      [class.show]="nameControl.invalid && nameControl.touched"
      >Nombre invalid</span
    >
  </p>
  <p>
    <input type="text" />
  </p>
  <hr />
  <h2>New For</h2>
  <ul>
    <p>total: {{ tasks().length }}</p>
    <li *ngFor="let task of tasks(); index as i">{{ i }} {{ task }}</li>
  </ul>
  <ul>
    @for(task of tasks(); track task; let i = $index){
    <li>{{ i }} {{ task }}</li>
    } @empty {
    <li><strong>La lista está en vacío</strong></li>
    }
  </ul>

  <hr />
  <h2>New Swithc</h2>
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'matias'">yo soy Matias</p>
    <p *ngSwitchCase="'nehuen'">yo soy Nehuen</p>
    <p *ngSwitchCase="'andres'">yo soy Andres</p>
    <p *ngSwitchCase="'torres'">yo soy Torres</p>
    <p *ngSwitchDefault>NO SOY NADIE</p>
  </div>

  <div>
    @switch (person().name) { @case ('matias') {
    <p>Yo soy Matias</p>
    } @case ('nehuen') {
    <p>Yo soy Nehuen</p>
    } @case ('andres') {
    <p>Yo soy Andres</p>
    } @case ('torres') {
    <i>Soy Torres</i>
    } @default {
    <i>Yo no soy nadie</i>
    } }
  </div>
</div>
